html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
:root{
    --header-color: #757575;
    --main-title-color: #212121;
    --second-header-color: #2196F3;
    --local-color: #FFFFFF;
}
body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: var(--header-color);
}
/*--------------UTILITIES-----------------*/

p,
h1,
h2,
h3,
h4 {
    margin-top: 0;
    margin-bottom: 0;
}
.list {
    margin: 0;
    padding-left: 0;
}
.container {
    width: 1230px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    outline: 4px solid red;
}
span {
    color: var(--main-title-color);
}
ul {
        list-style: none;
        margin: 0;
        padding-left: 0;
    }
.link {
    text-decoration: none;
}
.title-title {
    color: var(--local-color);
}
.img-title,
.text-title,
.aside-title,
.content-subtitle a,
.aside-subtitle {
    color: var(--main-title-color);
}
.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.text,
.img {
    background-color: #E5E5E5;
}
.portfolio-btn {
    cursor: pointer;
} 
button {
    border: 1px solid transparent;
}

/*-------------HEADER-------------*/
header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
    background-color: var(--local-color);
}
.general {
    display: flex;
    align-items: center;
}
/*-------------HEADER-LOGO-FOOTER-------*/
.header-logo,
.footer-logo {
        color: var(--second-header-color);
        text-decoration: none;
}
.footer span {
    color: var(--local-color);
}
.header-logo {
    margin-right: 93px;
}
/*-------------HEADER-NAV-------------*/
.header-nav a {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--main-title-color);text-decoration: none;
}
.header-nav a:hover,
.header-nav a:focus {
    color: var(--second-header-color);
}
.nav-link.current {
    color: var(--second-header-color);
}
.nav-list {
    display: flex;
}
.nav-list li {
    outline: 4px solid red;
}
.nav-list li:not(:last-child) {
    margin-right: 50px;
}
.nav-link a {
    display: block;
    padding-top: 21px;
    padding-bottom: 21px;
}


/*------------HEADER-CONTACTS------------*/
.header-mail {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--header-color);
        text-decoration: none;
}
.header-mail:hover,
.header-mail:focus {
    color: var(--second-header-color);
}
.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-color);
    text-decoration: none;
}
.header-tel:hover,
.header-tel:focus {
    color: var(--second-header-color);
}
.header-list {
    display: flex;
    margin-left: auto;
    outline: 4px solid red;
}
.header-list .item + .item {
    margin-left: 50px;
}
/*-------------MAIN-TITLE-------------*/
.title-title {
        display: inline-block;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        margin-bottom: 30px;
        text-align: center;
        outline: 4px solid red;
}
.title {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #2F303A;
}
.title-btn {
    display: block;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    min-width: 200px;
    padding: 10px 32px;
    border-radius: 4px;
    color: var(--local-color);
    background-color: var(--second-header-color);
    outline: 4px solid red;
}
.title-btn:hover,
.title-btn:focus {
    color: var(--second-header-color);
}
/*------------MAIN-TEXT-------------*/
.text {
    padding-top: 94px;
    padding-bottom: 94px;
}
.text-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.text-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.text-list {
    display: flex;
}
/*-------------MAIN-IMG-------------*/
.img {
    padding-top: 0;
    padding-bottom: 94px;
}
.img-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        margin-bottom: 50px;
}
img-item {
    display: inline-block;
}

/*-------------MAIN-ASIDE-------------*/
.aside {
    padding-top: 0;
    padding-bottom: 94px;
}
.aside-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        margin-bottom: 50px;  
}
.aside-subtitle {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
}
.aside-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
}
.aside {
    background-color: #F5F4FA;
}
.section {
    margin-left: auto;
    margin-right: auto;
}
/*-------------FOOTER-------------*/
.footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-logo{
    display: inline-block;
    margin-bottom: 20px;
}
.footer-address {
    font-style: inherit;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
    color: var(--local-color);
}
.footer-mail,
.footer-tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.footer-mail:hover,
.footer-mail:focus {
    color: var(--second-header-color);
}
.footer-tel:hover,
.footer-tel:focus {
    color: var(--second-header-color);
}
/*------------PORTFOLIO-MAIN-------------*/
.portfolio-main {
    background-color: #E5E5E5;
}
/*-----------PORTFOLIO-FILTER------------*/
.portfolio-filter {
    padding-top: 100px;
    padding-bottom: 94px;  
}
.portfolio-btn {
    display: inline-block;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    min-width: 73px;
    padding: 6px 22px;
    border-radius: 4px;
    text-align: center;
    color: var(--main-title-color);background-color: #F5F4FA;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--local-color);
    background-color: var(--second-header-color);
}
/*-----------PORTFOLIO-CONTENT-----------*/
.content-list {
    background-color: #E5E5E5;;
}
.content-subtitle a {
        font-weight: 700;
        font-size: 18px;
        line-height: 2.00;
        letter-spacing: 0.06em;
        text-decoration: none;
}
.content-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.88;
}
